folium==0.13.0
geemap[extra]
geopandas
osmnx
leafmap
keplergl
palettable
streamlit
streamlit_extras
streamlit-elements
torch
prophet
streamlit_image_select
prettymapp
owslib
segment-geospatial
geonamescache